AppWebService/AppCorreo/src/META-INF/wsdl/localhost_40672/WebService/WSCarreraService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://WebServices/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:40672/WebService/WSCarreraService?xsd=1" />

<xs:element name="eliminarCarrera" type="tns:eliminarCarrera" />

<xs:element name="eliminarCarreraResponse" type="tns:eliminarCarreraResponse" />

<xs:element name="insertarCarrera" type="tns:insertarCarrera" />

<xs:element name="insertarCarreraResponse" type="tns:insertarCarreraResponse" />

<xs:element name="listarCarrera" type="tns:listarCarrera" />

<xs:element name="listarCarreraResponse" type="tns:listarCarreraResponse" />

<xs:element name="modificarCarrera" type="tns:modificarCarrera" />

<xs:element name="modificarCarreraResponse" type="tns:modificarCarreraResponse" />

<xs:element name="obtenerCarrera" type="tns:obtenerCarrera" />

<xs:element name="obtenerCarreraResponse" type="tns:obtenerCarreraResponse" />

<xs:complexType name="listarCarrera">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listarCarreraResponse">
<xs:sequence>
<xs:element name="return" type="ns1:anyTypeArray" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerCarrera">
<xs:sequence>
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerCarreraResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarCarrera">
<xs:sequence>
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarCarreraResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="insertarCarrera">
<xs:sequence>
<xs:element name="car_nombre" type="xs:string" minOccurs="0" />
<xs:element name="car_descripcion" type="xs:string" minOccurs="0" />
<xs:element name="car_estado" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarCarreraResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarCarrera">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="car_nombre" type="xs:string" minOccurs="0" />
<xs:element name="car_descripcion" type="xs:string" minOccurs="0" />
<xs:element name="car_estado" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarCarreraResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>