AppWebService/AppCorreo/xml-resources/web-service-references/WSCarreraService/wsdl/localhost_40672/WebService/WSCarreraService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="WSCarreraService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:40672/WebService/WSCarreraService?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:40672/WebService/WSCarreraService?xsd=2" />
</xsd:schema>
</types>
<message name="insertarCarrera">
<part name="parameters" element="tns:insertarCarrera" />
</message>
<message name="insertarCarreraResponse">
<part name="parameters" element="tns:insertarCarreraResponse" />
</message>
<message name="modificarCarrera">
<part name="parameters" element="tns:modificarCarrera" />
</message>
<message name="modificarCarreraResponse">
<part name="parameters" element="tns:modificarCarreraResponse" />
</message>
<message name="eliminarCarrera">
<part name="parameters" element="tns:eliminarCarrera" />
</message>
<message name="eliminarCarreraResponse">
<part name="parameters" element="tns:eliminarCarreraResponse" />
</message>
<message name="listarCarrera">
<part name="parameters" element="tns:listarCarrera" />
</message>
<message name="listarCarreraResponse">
<part name="parameters" element="tns:listarCarreraResponse" />
</message>
<message name="obtenerCarrera">
<part name="parameters" element="tns:obtenerCarrera" />
</message>
<message name="obtenerCarreraResponse">
<part name="parameters" element="tns:obtenerCarreraResponse" />
</message>
<portType name="WSCarrera">
<operation name="insertarCarrera">
<input wsam:Action="http://WebServices/WSCarrera/insertarCarreraRequest" message="tns:insertarCarrera" />
<output wsam:Action="http://WebServices/WSCarrera/insertarCarreraResponse" message="tns:insertarCarreraResponse" />
</operation>
<operation name="modificarCarrera">
<input wsam:Action="http://WebServices/WSCarrera/modificarCarreraRequest" message="tns:modificarCarrera" />
<output wsam:Action="http://WebServices/WSCarrera/modificarCarreraResponse" message="tns:modificarCarreraResponse" />
</operation>
<operation name="eliminarCarrera">
<input wsam:Action="http://WebServices/WSCarrera/eliminarCarreraRequest" message="tns:eliminarCarrera" />
<output wsam:Action="http://WebServices/WSCarrera/eliminarCarreraResponse" message="tns:eliminarCarreraResponse" />
</operation>
<operation name="listarCarrera">
<input wsam:Action="http://WebServices/WSCarrera/listarCarreraRequest" message="tns:listarCarrera" />
<output wsam:Action="http://WebServices/WSCarrera/listarCarreraResponse" message="tns:listarCarreraResponse" />
</operation>
<operation name="obtenerCarrera">
<input wsam:Action="http://WebServices/WSCarrera/obtenerCarreraRequest" message="tns:obtenerCarrera" />
<output wsam:Action="http://WebServices/WSCarrera/obtenerCarreraResponse" message="tns:obtenerCarreraResponse" />
</operation>
</portType>
<binding name="WSCarreraPortBinding" type="tns:WSCarrera">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="insertarCarrera">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="modificarCarrera">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="eliminarCarrera">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarCarrera">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerCarrera">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSCarreraService">
<port name="WSCarreraPort" binding="tns:WSCarreraPortBinding">
<soap:address location="http://localhost:40672/WebService/WSCarreraService" />
</port>
</service>
</definitions>